---
layout: default
meta:
    title: Strona główna
    name: Psychodietetyk Dagmara Piotrowska
    description: Gabinet Psychodietetyczny i Psychoterapeutyczny, Gdańsk, Dagmara Piotrowska. Terapia uzależnien, zaburzenia odżywiania, jedzenie kompulsywne.
    image: img/tn_omnie.jpg
    type: blog
---

<!-- Start Hero -->
<div class="hero" style="background: url('{{ site.baseurl }}/img/{{ site.hero.hero_img }}') no-repeat; background-size: cover;">
    <div class="hero-content">
        <div class="container-fluid">
            <div class="hero-content-inner">
                <h1>{{ site.hero.hero_title }}</h1>
                <p>{{ site.hero.hero_description }}</p>
            </div>
        </div>
    </div>

    <div class="container-fluid">
        
        <div class="col-sm-6 col-sm-offset-6 col-md-4 col-md-offset-8" style="min-height: 400px;">
           
        </div>

    </div>
</div>
<!-- End Hero -->

<!-- Start 3 columns -->
<div class="three-shade-col">
    <div class="col-sm-4">
        <svg class="icon icon-envelope-o"><use xlink:href="#icon-envelope-o"></use></svg>
        <h3>Kontakt</h3>
        <ul>
            {% if site.contact.phone %}<li><strong>Telefon:</strong> {{ site.contact.phone }}</li>{% endif %}
            {% if site.contact.email %}<li><strong>Email:</strong> {{ site.contact.email }}</li>{% endif %}
        </ul>
    </div>
    <div class="col-sm-4">
        <svg class="icon icon-clock-o"><use xlink:href="#icon-clock-o"></use></svg>
        <h3>Godziny otwarcia</h3>
        <table>
            <tbody>
                <tr>
                    <td>Poniedziałek – Piątek</td>
                    <td>{{ site.monday_friday }}</td>
                </tr>
                <tr>
                    <td>Sobota</td>
                    <td>{{ site.saturday }}</td>
                </tr>
                <tr>
                    <td>Niedziela</td>
                    <td>{{ site.sunday }}</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="col-sm-4">
        <svg class="icon icon-map-marker"><use xlink:href="#icon-map-marker"></use></svg>
        <h3>Lokalizacja</h3>
            <p>
                {{ site.contact.address }}
            </p>
    </div>
</div>
<!-- End 3 columns -->

<!-- Start About -->
<div id="about" class="about">
    <div class="container-fluid">
        <h2 class="section-title">O mnie</h2>

        <div class="row">
            <div class="col-sm-6">
                <h3>Dagmara Piotrowska</h3>
                <p>Dyplomowany psychodietetyk i psychoterapeuta</p>

                <div class="media">
                    <div class="media-left">
                        <div class="boxed-icon">
                            <svg class="icon icon-medkit"><use xlink:href="#icon-medkit"></use></svg>
                        </div>
                    </div>
                    <div class="media-body">
                        <p>Psychoterapia zaburzeń odżywiania, takich jak: anoreksja, bulimia, zaburzenie objadania się, jedzenie kompulsywne, jedzenie nocne. <br><br>
                        Bogate doświadczenie zawodowe oraz staranne kierunkowe wykształcenie zarówno w nurcie dietetyki jaki psychodietetyki jest gwarancją usług na najwyższym poziomie.<br><br> 
                        Metody oparte na terapii w nurcie TSR pomogą poprawić Ci relacje z otoczeniem i poczuć się bardziej komfortowo w Twojej skórze. Indywidualne podejście do każdego pacjenta, oparte na zrozumieniu i pełnej akceptacji.</p>
                    </div>
                </div>

                
            </div>
            <div class="col-sm-6">
                <img src="img/about_img.jpg" alt="Dagmara Piotrowska">
            </div>
        </div>
    </div>
</div>
<!-- End About -->
<div id="cennik">
<div class="three-shade-col">
     <div class="col-sm-4">
        <h3>Ułożenie diety</h3>
        <ul>
            <li><strong>Dieta ubogoenergetyczna podstawowa: </strong>50zł na okres 7 dni</li>
            <li><strong>Dieta eliminacyjna: </strong>100zł do 150zł na okres 7 dni</li>
        </ul>
        
    </div>
    <div class="col-sm-4">
        <h3>Konsultacje dietetyczne i psychodietetyczne</h3>
        <li><strong>Pierwsza: </strong>150 zł</li>
        <li><strong>Kolejne: </strong>110 - 130 zł</li>
    </div>
    <div class="col-sm-4">
        Możliwa płatność gotówką, kartą lub na poniższe konto:</br>
            Usługi prozdrowotne Dagmara Piotrowska<br>
            nr 70 1050 1764 1000 0092 2305 4645<br>
    </div>
   
</div>
</div>
<!-- Start Treatments -->
<div id="treatments" class="treatments">
    <div class="container-fluid">
        <h2 class="section-title">Oferta</h2>

        <div class="row">
            {% for treatment in site.data.treatments %}
            
                   <div class="col-sm-6 col-md-4">
                        <div class="icon-box">
                            <svg class="icon {{ treatment.icon }}"><use xlink:href="#{{ treatment.icon }}"></use></svg>
                            
                            <h4>{{ treatment.title }}</h4>

                            <p>{{ treatment.description }}</p>
                    
                        </div>
                    </div>
       
                

            {% endfor %}
        </div>
    </div>
</div>
<!-- End Treatments -->

<!-- Start Our team -->
<div id="team" class="team"> 
    <h2 class="section-title">Artykuły</h2> 
    <div id="team-carousel">
    {% for article in site.data.articles %}
    <a href="{{ site.baseurl }}/{{ article.link }}">
        <div class="expandable-box">
            <div class="expandable-box-top">

                <img src="{{ site.baseurl }}/img/{{ article.image }}" alt="{{ article.name }}">
                
                <h4>{{ article.name }}</h4>
            </div>
               

                <div class="expandable-box-bottom">
                    <span><svg class="icon icon-chain"><use xlink:href="#icon-chain"></use></svg></span>
                </div>
           
        </div>
         </a>
    {% endfor %}
    </div>
</div>
<!-- End Our team -->

<!-- Start Testimonials -->
<div id="testimonials" class="testimonials parallax" style="background-image: url('{{ site.baseurl }}/img/{{ site.testimonials.testimonials_img }}');">
    <div class="overlay-container">
        <div class="overlay"></div>
        <div class="container-fluid">
            <div id="testimonial-carousel">
                {% for testimonial in site.data.testimonials %}
                    <div class="testimonial-item">
                        <svg class="icon icon-quote-left"><use xlink:href="#icon-quote-left"></use></svg>
                        <blockquote>
                            <p>{{ testimonial.description }}</p>
                            <footer>
                                {{ testimonial.name }}
                                <small>{{ testimonial.title }}</small>
                            </footer>
                        </blockquote>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
<!-- End Testimonials -->



<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2323.645713698973!2d18.5936674158777!3d54.38090888020883!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xd6b5338f6009b4c4!2sPsychodietetyk+Gda%C5%84sk%2C+Dagmara+Piotrowska!5e0!3m2!1spl!2spl!4v1546204775069"  frameborder="0" style="border:0; height: 450px; width: 100%;" allowfullscreen></iframe>
