<!-- Start Footer -->
<footer class="main-footer">
    <div class="container-fluid">
        
        <ul class="social">
            {% if site.facebook %}<li><a href="{{ site.facebook }}"><svg class="icon icon-facebook"><use xlink:href="#icon-facebook"></use></svg></a></li>{% endif %}


            <li><a href="mailto:paweljendrzejewski@gmail.com"><svg class="icon icon-envelope"><use xlink:href="#icon-envelope"></a></li>
            <li><a href="tel:+48792512907"><svg class="icon icon-phone"><use xlink:href="#icon-phone"></a></li>
        </ul>

        <small>{% if site.copyright %} {{ site.copyright }} {% endif %}</small>

    </div>
</footer>
<!-- End Footer -->